#loginsitio {
    background-color: rgb(7, 26, 41)
}
H1 {
    font-family: cursive; color: #eaeaed; 
    text-shadow: 0.1em 0.1em 0.9em #ffffff ;
}
h2 {
    font-family: cursive; color: #ffffff; text-shadow: 0.1em 0.1em 0.2em white;
}
#TituloRegistro {  
    color: #1b1a1a; text-shadow: 0.1em 0.1em 0.2em white;
}
.checkbox {
    font-family: cursive; color: #eaeaed; 
    text-shadow: 0.1em 0.1em 0.6em #ffffff ;
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #000b18, #00172b, #00264d, #02386e);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #02193ad7, #022747, #00264d, #024486);
}

body {
    background-color: #000b18;
}

#mostrar {
    color: #eaeaed;
    text-shadow: 0.1em 0.1em 0.9em #ffffff;
}
#mapainicio {
    max-width: 100%;
    height: 900px;
}

#izquierdainicio{
    background-color: #e6aaaa;
}
#contenedorcolumnas{
    height: 720px;
}

/* Main, Mapa y feed */

.mapouter {
    position: relative;
    text-align: center;
    height: 500px;
    width: auto;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: auto;
}
.twitter-Header {
    overflow: hidden;
    display: block;
    height: 500px;
    width: 500px !important;
}

/* Responsividad */

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3em;
        border-bottom-right-radius: .3rem;
    }
}
@media (max-width: 992px){
    #mapainicio {
    display: none;}
}


